/* Reset Css */

*{
    margin: 0px;
    padding: 0px;


}

/*  -------------------  styling in Navigation -------------------    */

nav{
    background-color: #000000;
    color: #fffdfd;
    height: 63px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 14px;
    box-sizing: border-box;
    font-size: 20px;

}

nav ul{
 list-style: none;
}


/* -------------------  styling in Game Container  -------------------  */

.gameContainer{
    border: 1px solid red;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    margin-top: 65px;
}

/* -------------------  Styling in Left-Container  -------------------  */

.container{
    border: 2px solid black;
}

/*  -------------------  styling in Box -------------------  */


.box{
    border: 2px solid purple;
}

/*  -------------------  styling in Box-Span ------------------- */
