/* Reset Css */

@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2&family=Indie+Flower&family=Roboto:wght@100&display=swap');

*{
    margin: 0px;
    padding: 0px;


}

/*  -------------------  styling in Navigation -------------------    */

nav{
    background-color: #000000;
    color: #fffdfd;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem;
    box-sizing: border-box;
    font-size: 1.3rem;

}

nav ul{
 list-style: none;
}


/* -------------------  styling in Game Container  -------------------  */

.gameContainer{
    /* border: 1px solid red;
    background-color: aquamarine; */
    display: flex;
    justify-content: center;
    margin-top: 65px;
    gap: 60px;
}

/* -------------------  Styling in Left-Container  : Main 3 X 3 Grid -------------------  */

.container{
    /* border: 2px solid black; */
    display: grid;

    grid-template-columns: repeat(3,10vw);
    grid-template-rows: repeat(3,10vw);

    font-family: 'Roboto', sans-serif;
}

/*  -------------------  styling in Box -------------------  */


.box{
    border: 1px solid rgb(0, 0, 0);
    font-size: 8vw;
    /* text-align: center; */
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover{
   background-color: rgba(219, 226, 218, 0.664);
}

.boxtext{
    font-family: 'Indie Flower', cursive;
}
/*  -------------------  styling in Box-Span ------------------- */


/*  -------------------  styling in Right-Container : Info of game ------------------- */

.gameInfo{

    border: 1px solid black;
    font-family: 'Baloo Da 2';

}

.Info{
    font-size: 22px;
    font-family: cursive;
}

#playername{
    color: #1809ff;
}

.Info-Player{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/*  -------------------  styling in Image Box ------------------- */


.imgBox{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.imgBox img{
    /* display: none; */
    width: 0px;
    transition: width ease-in-out;
}

/* -----------------------------------  Utility classes  ----------------------------------- */

.br-0{
    border-right: 0;
}

.bl-0{
    border-left: 0;
}

.bt-0{
    border-top: 0;
}

.bb-0{
    border-bottom: 0;
}

.btn{

    background-color: aqua;
    margin: 20px;
    padding: 12px;
    border-radius: 5px;
    outline-color: #f93636;
    border-color: aliceblue;
    outline-style: double;
    /* box-shadow: 7px 6px 6px 0px #f44336; */
    cursor: pointer;   
    
    font-family: monospace;
    font-size: 18px;
    font-weight: bolder;
}

.btn:hover{
    background-color: rgb(29 243 243);
}